<!doctype html>
<html lang="en">
<head>
    <title><%=meta.page_title %></title>
    <% include ./../layouts/head %>
</head>
<body>
    <body class="container">
    
    <head>
        <% include ./../layouts/header %>
    </head>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
        </div>
    </main>

    <footer>
        <% include ./../layouts/footer %>
    </footer>
</body>
</html>